@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
*{
    padding:0;
    margin:0;
}
.container{
    background-color:gray;
    width:100vw;
    height:103vh;
}
.div-1{
    
    background-color:yellowgreen;
    width:80vw;
    height:25vh;
    text-align: center;
    font-family:  'Rubik Moonrocks', cursive;
    border: 2px solid white;
    margin 5px 5px 5px 5px;
    
}
.div-1 h1{
position: absolute;
color:white;
top: 50px;
text align:center;
width:100%;
}
.div-1 img{
    width: 80vw;
    height: 25vh;
}
.div-2{
    background-color:green;
    width:80vw;
    height: 25vh;
    color: yellow;
    text-align: center;
    font-family:  'Rubik Moonrocks', cursive;
    border: 2px solid white;
    margin 5px 5px 5px 5px;
}  
.div-2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 13vh;
}
.div-3{
    background-color:orange;
    width:80vw;
    height:25vh;
    color: white;
    text-align: center;
    font-family:  'Rubik Moonrocks', cursive;
    border: 2px solid white;
    margin 5px 5px 5px 5px;
}
.div-3 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 22vh;
}
.div-4{
    background-color:grey;
    width:80vw;
    height:25vh;
    text-align: center;
    font-family:  'Rubik Moonrocks', cursive;
    border: 2px solid white;
    margin 5px 5px 5px 5px;
}
.div-4 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height:22vh;
}